.advantages {
  margin-top: 35px;
  margin-bottom: 39px;
  text-align: center;
}

.advantages__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  max-width: 282px;
  margin: 0;
  padding-left: 19px;
  padding-right: 19px;
}

.advantages__list {
  padding: 0;
  margin-top: 32px;
  margin-bottom: 39px;
  list-style-type: none;
}
