.benefits {
  list-style-type: none;
  padding: 26px 18px;
  margin: 0;
}

.benefits__item--medium {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 49px;
}

.benefits__item--narrow {
  padding-left: 24px;
  padding-right: 23px;
  margin-bottom: 49px;
}
