.booking-wrapper {
  padding: 39px 30px 32px;
}

.booking__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: @line-height-subtitle;
  text-transform: @text-transform-all-page;
  color: @color-white-bcgr;
  margin: 0;
}

.booking__link {
  padding: 16px 49px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: @line-height-subtitle;
  text-transform: @text-transform-all-page;
  background-color: @background-color;
  color: @color-blue-bcgr;
}
