.content-list {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  .content-list__item {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 26px;
    text-align: start;
  }

  .content-list__photo {
    margin-bottom: 9px;
    width: 100%;
    height: auto;
  }

  .content-list__title {
    font-size: @font-size-description;
    line-height: @line-height-description;
    text-transform: @text-transform-all-page;
    color: #000000;
    margin: 0;
    margin-bottom: 1px;
  }

  .content-list__author {
    font-weight: 400;
    font-size: @font-size-description;
    line-height: @line-height-description;
    color: #333333;
    margin: 0;
    margin-bottom: 11px;
  }
}

@media (min-width: @tablet-width) {
  .content-list {
    max-width: 648px;
    margin: 0;
    margin-bottom: 58px;
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: minmax(480px, 45%) auto auto;
    gap: 0;
    grid-auto-flow: column;
  }

  .content-list .content-list__item {
    margin: 0;
    text-align: start;
    background-color: #f2f2f2;
  }

  .content-list .content-list__item--big {
    grid-column: 1 / 3;
    width: 648px;
  }

  .content-list .content-list__item--last {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .content-list .content-list__photo {
    margin-bottom: 15px;
  }

  .content-list .content-list__title {
    margin-bottom: 0;
  }

  .content-list .content-list__author {
    margin-bottom: 0;
  }

  .content-list .content-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .content-list .content-list__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
  }
}

@media (min-width: @desctop-width) {
  .content-list {
    width: 100%;
    margin: 0;
    margin-bottom: 61px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: minmax(400px, 45%) auto;
    gap: 0;
    grid-auto-flow: column;
  }

  .content-list .content-list__item {
    position: relative;
    margin: 0;
    text-align: start;
    background-color: #f2f2f2;
  }

  .content-list .content-list__item--big {
    grid-column: 1 / 6;
    width: 100%;
  }

  .content-list .content-list__item--last {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .content-list .content-list__photo {
    display: block;
    margin: 0;
  }

  .content-list .content-list__wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0;
    padding-top: 22px;
    padding-bottom: 18px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .content-list .content-list__title {
    color: #ffffff;
  }

  .content-list .content-list__author {
    color: #ffffff;
  }
}
