.control {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.control__caption {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size-subtitle;
  line-height: @line-height-subtitle;
  color: @color-white-bcgr;
  padding: 10px 0;
}

.control__input {
  width: 46px;
  height: 46px;
  margin: 0;
  margin-right: 16px;
}
