.lead {
  padding: 54px 22px 40px 16px;
  text-transform: @text-transform-all-page;
  background-color: @background-color-blue;
  color: @color-white;

  .lead__title {
    font-size: @font-size-subtitle;
    line-height: @line-height-subtitle;
    margin-top: 0;
    margin-bottom: 11px;
  }

  .lead__text {
    font-size: @font-size-description;
    line-height: @line-height-description;
    margin-top: 0;
    margin-bottom: 17px;
  }

  .lead__desc {
    font-size: @font-size-description;
    line-height: @line-height-description;
    margin: 0;
  }
}

.lead--small {
  background-color: @background-color-grey;
}

@media (min-width: @tablet-width) {
  .lead {
    max-width: 192px;
    padding: 40px 32px 44px;
  }

  .lead .lead--medium {
    order: 2;
  }
}

@media (min-width: @desctop-width) {
  .lead {
    max-width: 295px;
    padding: 47px 52px 56px;
  }

  .lead .lead--medium {
    order: 2;
  }
}
