.lead {
  padding: 54px 22px 40px 16px;
  background-color: @background-color;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: @text-transform-all-page;
}

.lead__title {
  font-size: @font-size-subtitle;
  line-height: @line-height-subtitle;
  color: @color-blue-bcgr;
  margin-top: 0;
  margin-bottom: 11px;
}

.lead__text {
  font-size: @font-size-description;
  line-height: @line-height-description;
  color: @color-blue-bcgr;
  margin-top: 0;
  margin-bottom: 17px;
}

.lead__desc {
  font-size: @font-size-description;
  line-height: @line-height-description;
  color: @color-blue-bcgr;
  margin: 0;
}

