.main-index {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.main-index__slogan {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size-subtitle;
  line-height: @line-height-subtitle;
  color: @color-white-bcgr;
  text-transform: @text-transform-subtitle;
  margin-top: 32px;
  margin-bottom: 0;
  padding-left: 19px;
  padding-right: 19px;
}
