.main-form {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;

  .main-form-slogan {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 22px;
    text-align: center;
  }

  .main-form-desc {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .main-form {
    width: 100%;
    margin: 0 auto;
  }

  .main-form .main-form-slogan {
    font-size: 30px;
    max-width: 435px;
    margin-top: 64px;
  }

  .main-form .main-form-desc {
    line-height: 24px;
    max-width: 435px;
    margin-bottom: 102px;
  }
}

@media (min-width: @desctop-width) {
  .main-form {
    width: 100%;
    margin: 0 auto;
  }

  .main-form .main-form-slogan {
    margin-top: 115px;
    margin-bottom: 28px;
  }

  .main-form .main-form-desc {
    margin-bottom: 67px;
  }
}
