.main-index {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.main-index__slogan {
  margin-top: 32px;
  margin-bottom: 0;
  padding-left: 19px;
  padding-right: 19px;
}

.main-index-desc {
  max-width: 282px;
  margin: 0;
  padding-left: 19px;
  padding-right: 19px;
}
