.main-form {
  width: 320px;
  margin: 0 auto;

  .main-form-slogan {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 24px;
    text-align: center;
  }

  .main-form-desc {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .main-form {
    width: 768px;
    margin: 0 auto;
  }

  .main-form .main-form-slogan {
    max-width: 435px;
    margin-top: 64px;
  }

  .main-form .main-form-desc {
    max-width: 435px;
    margin-bottom: 102px;
  }
}

@media (min-width: @desctop-width) {
  .main-form {
    width: 1200px;
    margin: 0 auto;
  }

  .main-form .main-form-slogan {
    margin-top: 115px;
  }

  .main-form .main-form-desc {
    margin-bottom: 67px;
  }
}
