.main-catalog {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.main-catalog__slogan {
  margin-top: 33px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.main-catalog-desc {
  max-width: 280px;
  margin: 0;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-catalog__heading {
  margin: 17px 26px 30px 28px;
}

.main-catalog__text {
  margin: 0 26px 38px 28px;
}
