.modal-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1010;
}

.modal-error__content {
  position: relative;
  width: 320px;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
}

.modal-error__subtitle {
  margin: 45px 42px 0 41px;
}

.modal-error__text {
  margin: 20px 42px 28px 41px;
}

.modal-error__button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size-subtitle;
  line-height: @line-height-subtitle;
  color: @color-blue-bcgr;
  text-transform: @text-transform-all-page;
  background-color: @background-color;
  cursor: pointer;
  border: none;
  padding: 18px 64px 14px 63px;
  margin: 0;
  margin-bottom: 35px;
  width: 180px;
}

.modal-error--error {
  display: block;
}

.modal-error--hidden {
  display: none;
}
