.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  position: relative;
  margin: 0 auto;

  .nav__logo {
    margin-left: 67px;
  }

  .nav__menu-button {
    position: absolute;
    margin-left: 25px;
    width: 23px;
    height: 22px;
    background-image: url("../img/mobile_menu_icon.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    top: 17px;
    right: 20px;
  }

  .nav__menu-button:hover {
    opacity: 0.6;
  }

  .nav__menu-button:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .nav {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav .nav__logo {
    // margin-left: 291px;
    // margin-right: 291px;
    z-index: 1;
  }

  .nav .nav__menu-button--hidden {
    display: none;
  }
}

@media (min-width: @desctop-width) {
  .nav {
    width: 1200px;
  }

  .nav .nav__logo {
    // margin-left: 507px;
    // margin-right: 507px;
    z-index: 1;
  }

  .nav .nav__menu-button--hidden {
    display: none;
  }
}
