.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__teg {
  width: 166px;
  padding: 29px 78px 33px 76px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: @line-height-subtitle;
  text-transform: @text-transform-all-page;
  color: @color-white-bcgr;
}

.page-footer__socials {
  margin: 0 80px 40px 84px;
}

.page-footer__developer {
  width: 151px;
  padding: 0 96px 23px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-footer__desc {
  padding-right: 5px;
}
