.page-footer {
  width: 320px;
  margin: 0 auto;

  .page-footer__teg {
    max-width: 166px;
    padding: 29px 78px 33px 76px;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: @line-height-subtitle;
    text-transform: @text-transform-all-page;
    color: @color-white-bcgr;
  }

  .page-footer__socials {
    padding: 0 80px 0 84px;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__item {
    background-color: #81b3d2;
    padding: 15px 12px;
  }

  .page-footer__button {
    padding: 12px;
  }

  .page-footer__button--vcontacte {
    width: 24px;
    height: 24px;
    background-image: url("../img/footer_vk.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-footer__button--telegram {
    width: 24px;
    height: 24px;
    background-image: url("../img/footer_telegram.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-footer__button--youtube {
    width: 24px;
    height: 24px;
    background-image: url("../img/footer_youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-footer__button:hover {
    background-color: #669ec0;
  }

  .page-footer__button:active {
    background-color: #5496bd;
  }

  .page-footer__developer {
    width: 151px;
    padding: 40px 96px 23px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__desc {
    padding-right: 5px;
  }
}
