.picture {
  position: relative;

  .picture__img {
    z-index: 0;
  }

  .picture__img-text {
    position: absolute;
    top: 90px;
    left: 19px;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .picture {
    position: relative;
    width: 100%;
  }
}

@media (min-width: @desctop-width) {
  .picture {
    position: relative;
    width: 100%;
  }
}
