.user-data {
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .user-data__caption {
    font-weight: 400;
    font-size: @font-size-description;
    line-height: @line-height-description;
    text-transform: @text-transform-all-page;
    color: @color-dark-gray;
  }

  .user-data__field {
    font-size: @font-size-subtitle;
    line-height: @line-height-subtitle;
    color: @color-black;
    border: none;
    background-color: #f2f2f2;
    padding: 16px;
  }

  .user-data__field--pfone {
    padding-right: 58px;
  }

  .user-data__field--mail {
    padding-right: 58px;
  }

  .user-data__field--review {
    padding: 16px;
    border: none;
    min-height: 118px;
    color: rgba(0, 0, 0, 0.3);
  }

  .user-data--last {
    margin: 0;
  }
}
