.user-review {
  .user-review__label {
    max-width: 245px;
    margin: 0 18px;
    text-align: center;
  }

  .user-review__field {
    width: 247px;
    padding: 16px;
    margin-top: 20px;
    border: none;
    min-height: 118px;
    font-size: @font-size-subtitle;
    line-height: @line-height-subtitle;
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .user-review .user-review__label {
    max-width: 402px;
    margin: 0 123px;
    font-size: 21px;
  }

  .user-review .user-review__field {
    width: 648px;
    padding: 16px;
    margin-top: 28px;
    min-height: 160px;
  }
}
