@background-color: #81b3d2;
@text-transform-all-page: uppercase;

@font-size-subtitle: 18px;
@line-height-subtitle: 26px;
@color-white-bcgr: #000000;
@color-blue-bcgr: #ffffff;

@font-size-description: 14px;
@line-height-description: 21px;
@color-white-bcgr-desc: #333333;
